@use "../abstracts" as *;

.modal {
  @include position(fixed, 0, 0, 0, 0, 100%, 100%);
  background: rgba($color: $white, $alpha: 0.4);
  @include align(flex, center, center, null);

  &__heading {
    h3 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.7rem;
      letter-spacing: 0.05rem;
    }
  }

  &__body {
    background: $white;
    width: auto;
    height: auto;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;

    @include animation(modalAnimate, 0.5s, linear, -10rem, 0);
  }
}
